@import "config.css";

.card {
  width: 160px;
  height: 150px;
  background-color: #fff;
  border-radius: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.70);
  user-select: none;
  @media (--notTouchDevice) {
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  @media (--phablet) {
    width: 42vw;
    height: 39vw;
  }
}

.answered {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255,255,255,0.70);
  border-radius: 12px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct .answeredIcon {
  width: 66px;
  height: 59px;
}

.wrong .answeredIcon {
  width: 58px;
  height: 57px;
}

.answeredName {
  font-size: 16px;
  font-family: var(--narrow);
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  &.red {
    color: #DF0012;
  }
  &.green {
    color: #006034;
  }
}

.correct .answered, .wrong .answered {
  opacity: 1;
}

